annotated-types==0.7.0
anyio
click
exceptiongroup
fastapi==0.104.1
h11
idna
packaging
Pillow
pydantic
pydantic_core
PyMuPDF
PyMuPDFb
pytesseract
python-multipart
sniffio
starlette
typing-inspection
typing_extensions
uvicorn==0.23.2
