annotated-types
anyio
click
easyocr
exceptiongroup
fastapi
filelock
fsspec
h11
idna
imageio
Jinja2
lazy_loader
MarkupSafe
mpmath
networkx
ninja
numpy
opencv-python-headless
packaging
Pillow
pyclipper
pydantic
pydantic_core
PyMuPDF
PyMuPDFb
python-bidi
python-multipart
PyYAML
scikit-image
scipy
shapely
sniffio
starlette
sympy
tifffile
typing-inspection
typing_extensions
uvicorn
